body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a4c49a;
  padding: 24px;
}

.form-wrapper {
  width: 320px;
  padding: 24px;
  border: 2px solid #f7f8f8;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 12px 0px !important;
}

.notfound-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

@media (min-width: 600px) {}
