body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a4c49a;
}

.full-height {
  height: 100%;
}

.login-img {
  height: 100%;
  width: 100%;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  height: 80px;
  margin-bottom: 12px;
}

.form-wrapper {
  width: 320px;
  padding: 24px;
  border: 2px solid #f7f8f8;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 12px 0px !important;
}

.notfound-page {
  flex-direction: column;
  padding: 0px !important;
}

.center {
  text-align: center;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.page-title {
  margin: 12px 0px;
}

@media (max-width: 800px) {
  .login-page {
    margin: 24px;
  }

  .img-grid {
    display: none;
  }

  .form-wrapper {
    width: auto;
  }
}
